#main-footer {
  padding: 2rem;
  background: $dark-color;
  color: $light-color;

  .social a {
    padding: 0 1rem;
    color: $light-color;
    transition: color 0.5s ease;

    &:hover {
      color: #f2f2f2;
    }
  }
}
