@mixin button($border-color: #bbb, $text-color: #fff, $mt: 1rem) {
  margin-top: $mt;
  display: inline-block;
  color: $text-color;
  padding: 1rem 2rem;
  border: 1px solid $border-color;
  font-size: 1.25rem;
  font-weight: 500;
  transition: all 0.5s ease;
}

// Breakpoints
@mixin respond-to($breakpoint) {
  @if $breakpoint == "xs" {
    @media screen and(max-width: 320px) {
      @content;
    }
  } @else if $breakpoint == "sm" {
    @media screen and(max-width: 480px) {
      @content;
    }
  } @else if $breakpoint == "md" {
    @media screen and(max-width: 768px) {
      @content;
    }
  } @else if $breakpoint == "lg" {
    @media screen and(max-width: 1248px) {
      @content;
    }
  }
}
