@mixin button($border-color: #bbb, $text-color: #fff, $mt: 1rem) {
  margin-top: $mt;
  display: inline-block;
  color: $text-color;
  padding: 1rem 2rem;
  border: 1px solid $border-color;
  font-size: 1.25rem;
  font-weight: 500;
  transition: all 0.5s ease;
}

// Breakpoints
@mixin breakpoint($point) {
  @if $point == "small" {
    @media screen and(min-width: 320px) {
      @content;
    }
  } @else if $point == "medium" {
    @media screen and(min-width: 800px) {
      @content;
    }
  } @else if $point == "large" {
    @media screen and(min-width: 1024px) {
      @content;
    }
  }
}
